---
layout: default
title: Analytics
---

{% assign wwc_yes = site.places | where: "wwc", true | map: "place" %}
{% assign wwc_no = site.places | where: "wwc", false | map: "place" %}

<!-- Roundabout way of generating an array of places where WWC status is known -->
{% assign wwc_unk_string = "" %}
{% for place in site.places %}
  {% unless wwc_yes contains place.place %}
    {% unless wwc_no contains place.place %}
      {% if wwc_unk_string == "" %}
        {% assign wwc_unk_string = place.place %}
      {% else %}
        {% assign wwc_unk_string = wwc_unk_string | append: "$" | append: place.place %}
      {% endif %}
    {% endunless %}
  {% endunless %}
{% endfor %}
{% assign wwc_unk = wwc_unk_string | split: "$" %}

{% assign wwc_yes_docs = site.documents | where_exp: "item", "wwc_yes contains item.place" | sort: "place" %}
{% assign wwc_no_docs = site.documents | where_exp: "item", "wwc_no contains item.place" | sort: "place" %}
{% assign wwc_unk_docs = site.documents | where_exp: "item", "wwc_unk contains item.place" | sort: "place" %}

<h2>WWC yes</h2>

<!-- {% include sunlight_wwc_analytics.html wwc=true %} -->
{{ wwc_yes_docs | size }} policies, {{ wwc_yes_docs | map: "place" | uniq | size }} unique places
<ul>
{% for doc in wwc_yes_docs %}
  <li><a href="{{ doc.url }}">{% include docname.html doc_page=doc %}</a></li>
{% endfor %}
</ul>

<h2>WWC no</h2>

<!-- {% include sunlight_wwc_analytics.html wwc=false %} -->
{{ wwc_no_docs | size }} policies, {{ wwc_no_docs | map: "place" | uniq | size }} unique places
<ul>
{% for doc in wwc_no_docs %}
  <li><a href="{{ doc.url }}">{% include docname.html doc_page=doc %}</a></li>
{% endfor %}
</ul>

<h2>WWC unknown</h2>

{{ wwc_unk_docs | size }} policies, {{ wwc_unk_docs | map: "place" | uniq | size }} unique places
<ul>
{% for doc in wwc_unk_docs %}
  <li><a href="{{ doc.url }}">{% include docname.html doc_page=doc %}</a></li>
{% endfor %}
</ul>
