<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/application.css">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.css" />


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0/leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/modernizr.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.slideto.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.color-2.1.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/mousetrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.zclip.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/jquery.inview.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/js-webshim/minified/polyfiller.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/masonry.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/vendor/functions.js"></script>

{% feed_meta %}
