---
layout: default
---

{{ content }}

{% if page.examples.size > 0 %}
    <h2>Further reading:</h2>
    <ul>
    {% for example in page.examples %}
        <li><a href="{{ example.url }}">{{ example.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<h2>Examples of language for this guideline:</h2>

Here are examples of the language for this guideline as included in policies on this site. Please note that the selections of text below are imperfect, and you should check out their source policies to read them in context.

<div id="sample-language">
</div>

<script>
var div = document.getElementById('sample-language');
// var tag = '<span class="g-' + '{{ page.id }}' + '">';
// var tag_html = $.parseHTML(tag);
{% for doc in site.documents %}
    var doc_object = {{ doc | jsonify }};
    console.log(doc);
{% endfor %}
</script>
