---
layout: default
---

{{ content }}

{% if page.examples.size > 0 %}
    <h2>Further reading:</h2>
    <ul>
    {% for example in page.examples %}
        <li><a href="{{ example.url }}">{{ example.title }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<h2>Examples of language for this guideline:</h2>

Here are examples of the language for this guideline as included in policies on this site. Please note that the selections of text below are imperfect, and you should check out their source policies to read them in context.

<div id="sample-language">
</div>

<script>
var div = document.getElementById('sample-language');
// var tag = '<span class="g-' + '{{ page.id }}' + '">';
// var tag_html = $.parseHTML(tag);
{% for doc in site.documents %}
    console.log(doc);
    var doc_text = $.parseHTML(escape("{{ doc.content | strip_newlines | replace: '"', '\"'}}"));
    console.log(doc_text);
    var new_id = '{{ page.id }}'.replace(/\/guidelines\/\d\d-/g, '')
    $(spans).find('span.g-' + new_id);
    if (spans.length) {
    // if (doc_text.contains(tag)) {
        {% capture doc_name %}{% include docname.html doc_page=doc %}{% endcapture %}
        var content = document.createTextNode(
            '\n<h3>{{ doc_name | strip_newlines }}</h3>\n<p></p>');
        // var doc_text_html = $.parseHTML(doc_text);
        // console.log(doc_text_html);
        // var spans = doc_text_html.getElementsByClassName({{ page.id }});
        // var spans = doc_text.find('span').attr('class', {{ page.id }});
        // var spans = $('img.classname')
        // var re = new RegExp((tag += '([\s\S]*?)<\/span>'), 'g');
        // var match = re.exec(doc_text);
        // while (match != null) {
        //     result +=  "match:"+RegExp.$1 + ',\n';
        //     match = myregexp.exec(data);
        // }
        for (var i = 0; i < len(spans); i++) {
            content += ('\n<p>' + $.trim(spans[i].innerText) + '</p>');
        }
        content += ('\n<p><a href="{{ site.baseurl }}{{ doc.url }}">See this entire policy</a></p>');
        div.appendChild(unescape(content));
    }
{% endfor %}
</script>
