---
layout: default
title: ''
---

<!-- Original policy -->
{% if page.policy_url %}
  <p><a href="{{ page.policy_url }}">View original policy</a></p>
{% endif %}
{% if page.policy_urls %}
  {% if page.policy_urls.size > 1 %}
    <p>View original policy: 
    {% for policy in page.policy_urls %}
      {% if forloop.first == false %}
        , 
      {% endif %}
      <a href="{{ policy[1] }}">{{ policy[0] }}</a>
    {% endfor %}
    </p>
  {% else %}
    {% assign the_policy = page.policy_urls | first %}
    <p><a href="{{ the_policy[1] }}">View original policy ({{ the_policy[0] }})</a></p>
  {% endif %}
{% endif %}

<!-- Press release -->
{% if page.press_url %}
  <p><a href="{{ page.press_url }}">View press release</a></p>
{% endif %}

<!-- Data portal(s) -->
{% assign the_place = site.places | where: "place", page.place | first %}
{% if the_place.portal_urls %}
  {% if the_place.portal_urls.size > 1 %}
    <p>View data portals: 
    {% for portal in the_place.portal_urls %}
      {% if forloop.first == false %}
        , 
      {% endif %}
      <a href="{{ portal[1] }}">{{ portal[0] }}</a>
    {% endfor %}
    </p>
  {% else %}
    {% assign the_portal = the_place.portal_urls | first %}
    <p><a href="{{ the_portal[1] }}">View data portal</a></p>
  {% endif %}
{% endif %}

<!-- Main section -->
<br>
<hr>
{% if page.note %}
  <p><em>Note: {{ page.note }}</em></p>
  <hr>
{% endif %}
<br>
{% if page.no_text == true %}
  <p><em>We do not have an HTML version of this policy available, but you can still access the text using the &ldquo;View original policy&rdquo; link above.</em></p>
{% else %}
  {{ content }}
{% endif %}
<br>
<hr>
<p>
  <em>Do you see anything that looks wrong? Please let us know! <a href="https://github.com/sunlightpolicy/opendatapoliciesstatic/issues">Open a GitHub issue</a> or <a href="mailto:opendatadecoded@gmail.com">send us an email</a>.</em>
</p>
<hr>
<br>

<!-- Comments -->
{% if site.disqus_shortname %}
  {% include disqus_comments.html %}
{% endif %}
