---
layout: default
title: ''
---

{% assign the_place = site.places | where: "place", page.place | first %}
{% if the_place.type == 'state' %}
  <h1>{{ the_place.title }} (state)</h1>
{% else %}
  <h1>{{ the_place.title }}, {{ the_place.states | join: '-' }}</h1>
{% endif %}
<h2>{{ page.legal_custom }} ({{ page.year }})</h2>
<p><a href="{{ page.policy_url }}">View original policy</a></p>
{% if page.press_url %}
  <p><a href="{{ page.press_url }}">View press release</a></p>
{% endif %}
{% if the_place.portal_urls %}
  {% if the_place.portal_urls.size > 1 %}
    <p>View data portals: 
    {% for portal in the_place.portal_urls %}
      {% if forloop.first == true %}
      <a href="{{ portal[1] }}">{{ portal[0] }}</a>
      {% else %}
      , <a href="{{ portal[1] }}">{{ portal[0] }}</a>
      {% endif %}
    {% endfor %}
    </p>
  {% else %}
    {% assign the_portal = the_place.portal_urls | first %}
    <p><a href="{{ the_portal[1] }}">View data portal</a></p>
  {% endif %}
{% endif %}



<br>
<hr>
<br>

{{ content }}

<br>
<hr>
<br>

<em>Do you see anything that looks wrong? Please let us know! <a href="https://github.com/sunlightpolicy/opendatapoliciesstatic/issues">Open a GitHub issue</a> or <a href="mailto:opendatadecoded@gmail.com">send us an email</a>.</em>

<br>
<hr>
<br>

{% if site.disqus_shortname %}
  {% include disqus_comments.html %}
{% endif %}
